<!DOCTYPE html>
<html class="has-background-light" lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <section class="hero">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <div class="columns">
            <div class="column is-half-desktop is-half-fullhd">
              <div class="content is-size-5">
                <p>Learn and discuss:</p>
                <ul>
                  <li><strong>What is generative AI?</strong></li>
                  <li><strong>How can it be used in education?</strong></li>
                  <li><strong>What’s good and bad about AI in education?</strong></li>
                  <li><strong>What do we want from the people building AI tools and technology?</strong></li>
                </ul>
              </div>
            </div>
            <div class="column is-half-desktop is-half-fullhd">
              <div class="content is-size-5">
                <p>A free resource:</p>
                <ul>
                  <li><strong>Teacher/facilitator guide & timed lesson plan</strong> (50 & 90 minute versions)</li>
                  <li><strong>Slides & handouts</strong></li>
                  <li><strong>Interactive activities</strong></li>
                  <li><strong>Feedback tools</strong>: capture class and individual views</li>
                  <li>Two versions: <strong>Key Stage 2/3</strong> and <strong>Key Stage 4/5</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="meetings">
      <div class="container is-max-desktop">
        <h2 class="title"><strong>Have your say</strong>: AI in Education Summit</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <p>In January 2026, the UK Department for Education will host education leaders and AI companies from over 20 countries in London to talk about AI in Education, and to explore how AI tools can be better aligned with the needs of education.</p>
              <p><strong>Use the Workshop in a Box and share your group’s feedback before 9th January to have your views included in a report presented to leaders at the AI in Education Summit.</strong></p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero highlight" id="signup">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Sign up now</h2>
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-5">
                <p>To get a copy of the Workshop in a Box as soon as it is available (November 3rd), and an invite to live and recorded briefings on using the resource, please register here.</p>
              </div>
              <div class="buttons">
                <a class="button" href="REGISTER LINK">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-hand" aria-hidden="true"></i>
                    </span>
                    <span>REGISTER</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="about">
      <div class="container is-max-desktop">
        <h2 class="title">Independent, informed dialogue</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero" id="faq">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
      </div>
    </section>

    <section class="section" id="about">
      <div class="container is-max-desktop">
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <h3>Who is this for?</h3>
              <p>The Workshop in a Box has been designed to be used in schools, colleges and informal settings (e.g. home education or youth groups). There are versions for Key Stage 2/3 and Key Stage 4/5.</p>
              <p>You don’t need to be an AI expert to lead a session using this resource: simply to have an interest in exploring AI in Education with your class or group.</p>
              <h3>Is this UK only?</h3>
              <p>Although designed with the education system in England in mind, the toolkit is also available to use and adapt in other countries. We encourage educators from countries participation in the UK AI in Education Summit to also use the toolkit and share their views.</p>
              <h3>How long will I need to run a session?</h3>
              <p>The resources are flexible, and can be used over 45 - 120 minutes across one or two sessions.
            We’ve included suggested timed lesson plans for a 50 minute and 90 minute session. </p>
              <h3>What happens to the ideas and views we gather during a session?</h3>
              <p>If you run your session and can send in feedback before 9th January 2026, it will form part of a report that will be presented at the UK AI in Education Summit on 22nd January, attended by Education Ministers and leaders from over 20 countries, and by leading AI firms.</p>
              <p>We will also share a copy of the report back with you, and an update on the discussions at the Summit, so you can see how leaders responded to young people’s views.</p>
              <p>You can also use the Workshop in a Box to talk about decisions you want to make about Generative AI in Education in your classroom, school or local area. In this case, you will be able to feed views explored into your own local decision making.</p>
              <h3>Which subjects is the workshop aligned with?</h3>
              <p>The Workshop can be delivered within the timetable, or as a separate session for a voluntary or invited group of students.</p>
              <p>(School enrichment - PSHE, Maths, Education, Design and Technology, Computing) The content of the resource is aligned with: SUBJECTS</p>
              <p>The optional interactive activities include:</p>
              <ul>
                <li>Persuasive writing</li>
                <li>Poster-making</li>
                <li>??? TBC</li>
              </ul>
              <h3>Where can I find out more about UK government policy and policy-making on Generative AI in Education?</h3>
              <p>TODO</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- include footer.html -%}

  </body>

</html>
